

body{
  background-color: #212529;
  color: white;
}

.modal-content{
  background: #343a40;
  color: white;
}

#cardsContainer, #filterContainer{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

#firstYearContainer, #voldContainer{
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}

h2{
  height: 30px;
  width: 100%;
  text-align: center;
  margin: 0 0 2% 0;
}

#studentCard{
  padding: 15px;
  background-color: #343a40;
  width: 40%;
  margin: 1% 5%;
}

#studentInfo{
  background-color: #495057;
  margin: auto;
}

.house{
  border: black solid 1px;
  width: 100%;
  height: 180px;
}

.Gryffindor{
background-image: url(Img/GryffindorPic.png), repeating-linear-gradient(
  to right,
  #740001,
  #740001 10px,
  #EEBA30 10px,
  #EEBA30 20px); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Slytherin{
  background-image: url(Img/SlytherinPic.png), repeating-linear-gradient(
    to right,
  #1a472a,
  #1a472a 10px,
  #AAAAAA  10px,
  #AAAAAA 20px
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Hufflepuff{
  background-image: url(Img/HufflepuffPic.png), repeating-linear-gradient(
    to right,
    #eeba35,
    #eeba35 10px,
    #000000 10px,
    #000000 20px
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Ravenclaw{
  background-image: url(Img/RavenclawPic.png), repeating-linear-gradient(
    to right,
    #0F1D4A,
    #0F1D4A 10px,
    #946B2D 10px,
    #946B2D 20px
  );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.voldArmy{
  background-image: url(Img/Death_Eater_Mark.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
